[submodule "api/vehicle-cloud-api"]
	path = api/vehicle-cloud-api
	url = https://github.com/OpenTier/vehicle-cloud-api.git
[submodule "devices/vehicle-demo"]
	path = devices/vehicle-demo
	url = https://github.com/OpenTier/vehicle-demo.git
	branch = main
